<div>
    <full-calendar *ngIf="status === 'loaded'; else loadingBlock" [options]="options"></full-calendar>

    <ng-template #loadingBlock>
        <div class="custom-skeleton p-4">
            <div class="flex justify-content-between mb-3">
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
                <p-skeleton width="4rem" height="2rem"></p-skeleton>
            </div>
            <p-skeleton width="100%" height="430px"></p-skeleton>
        </div>
    </ng-template>
</div>
