<div class="row">
    <div appRwd>
        <p-orderList [value]="experts"
                     [(selection)]="selectedExperts"
                     (onSelectionChange)="onSelectionChange($event)"
                     header="Wybierz specjalistę"
                     [dragdrop]="false">

            <ng-template let-expert pTemplate="item">
                <div>
                    <i class="pi pi-user"></i> {{ expert.name }}
                </div>
            </ng-template>

            <ng-template pTemplate="empty">
                <p-skeleton width="100%"></p-skeleton>
                <br>
                <p-skeleton width="75%"></p-skeleton>
                <br>
                <p-skeleton width="50%"></p-skeleton>
            </ng-template>
        </p-orderList>
    </div>
</div>

<div class="row">
    <div appRwd>
        <app-calendar [events]="events"
                      [status]="status"
                      (selectedEvent)="onSelectedEvent($event)"
        ></app-calendar>
    </div>
</div>

<div class="row">
    <div appRwd>

        <ng-container [ngTemplateOutlet]="!selectedEvent ? notSelectedBlock : selectedBlock"></ng-container>

        <ng-template #notSelectedBlock>
            <p-message *ngIf="status === 'loaded'"
                       severity="info"
                       text="Wybierz termin wizyty">
            </p-message>
        </ng-template>

    <ng-template #selectedBlock>
        <app-confirmation
                [selectedDate]="selectedEvent"
                [selectedExpert]="selectedExpert"
            (confirmed)="submit($event)"
        ></app-confirmation>
    </ng-template>
</div>
